# Порт для локального запуска
PORT=3000

# Настройки Telegram-бота
# Получить токен бота можно у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz

# Ваш ID пользователя или группы/канала, куда слать заявки (можно узнать у @userinfobot)
TELEGRAM_CHAT_ID=123456789
